@import "node_modules/normalize.css/normalize.css";
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: 400;
}
.recepies-list {
  width: 50%;
  display: block;
  float: left;
}
.photo-wrapper {
  height: 150px;
  width: 100%;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.photo-wrapper img {
  min-width: 100%;
  min-height: 100%;
}
.small-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 20px 15px;
}
h2 {
  font-size: 20px;
}
.recepies-show {
  display: block;
  width: 100%;
  padding: 15px;
}
.amount {
  margin-top: 10px;
}
/*.recepies-list{
	border-right: 1px solid gray;
}*/
input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  padding: 0px 15px;
  display: block;
}
select {
  height: 30px;
  border-color: gray;
}
ul {
  margin: 0;
  padding-left: 0;
}
form textarea:last-of-type {
  min-width: 300px;
  min-height: 300px;
}
.ingredient-block {
  clear: both;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.ingredient-block input {
  display: block;
  width: 150px;
}
.ingredient-block .count {
  width: 90px;
}
.ingredient-block select {
  display: block;
  width: 50px;
}
.ingredient-block .delete-button {
  float: left;
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  line-height: 20px;
}
.ingredient-button {
  margin-bottom: 30px;
  position: relative;
  clear: both;
  display: block;
  border: 2px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  color: #feaa26;
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
}
.ingredient-button:after {
  display: block;
  content: "";
  width: 200px;
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 1px;
  background: gray;
}
body,
html {
  width: 100%;
}
.wrapper {
  display: block;
  width: 100%;
}
.list-wrap {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: start;
      align-items: flex-start;
  /* margin: -15px 0; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.mini-recepies {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  cursor: pointer;
  border: solid 1px #e6e6e6;
  box-shadow: 0 0 2px 1px #f2f2f2;
  padding: 15px;
  margin-bottom: 15px;
  background: white;
  width: 250px;
}
.mini-recepies img {
  width: 100%;
}
.mini-recepies p {
  color: black;
  font-size: 18px;
  margin: 0;
}
.mini-recepies .user {
  margin-top: 25px;
  color: gray;
  font-size: 10px;
  text-align: right;
}
.primary-button {
  display: block;
  border: 1px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  background-color: #feaa26;
  color: white;
  height: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 15px;
  cursor: pointer;
}
.invisible-button {
  display: block;
  border: 2px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  color: #feaa26;
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
}
.big-button {
  padding: 0 40px;
  height: 40px;
}
.auth {
  height: 50px;
  border-bottom: 1px solid gray;
  line-height: 50px;
  background: #fafafa;
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.auth span {
  font-size: 14px;
}
.auth button {
  display: block;
  border: 2px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  color: #feaa26;
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
  margin-left: 20px;
}
.recipe {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 30px 0;
  max-width: 1000px;
  margin: auto;
}
.recipe-img {
  width: 45%;
  height: 500px;
  overflow: hidden;
  -ms-flex-flow: column;
      flex-flow: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.recipe-img img {
  max-width: 100%;
}
.steps {
  margin-top: 30px;
  width: 60%;
}
.input-base {
  display: block;
  color: black;
  border: 1px solid gray;
  border-radius: 2px;
  margin-right: 10px;
  background-color: white;
}
.recipe ul {
  padding-left: 20px;
}
select {
  border-radius: 2px;
}
body form input,
body form textarea {
  display: block;
  color: black;
  border: 1px solid gray;
  border-radius: 2px;
  margin-right: 10px;
  background-color: white;
}
body form input[type=submit] {
  background-color: #feaa26;
  color: white;
  border-color: #feaa26;
}
body form button {
  display: block;
  color: black;
  border: 1px solid gray;
  border-radius: 2px;
  margin-right: 10px;
  background-color: white;
}
body form h2 {
  font-size: 18px;
}
.edit-button {
  display: block;
  border: 1px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  background-color: #feaa26;
  color: white;
  height: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 15px;
  cursor: pointer;
  margin-right: 15px;
  display: inline-block;
}
.delete-recipe {
  display: block;
  border: 2px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  color: #feaa26;
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
  display: inline-block;
}
.recipe-title {
  width: 100%;
  color: black;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.auth-button {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row-reverse;
      flex-flow: row-reverse;
}
.auth-button button {
  margin-bottom: 0;
}
.recipe-user {
  width: 100%;
  font-size: 16px;
  color: gray;
  text-align: right;
}
.serv {
  /*display: inline-block;
	margin: auto;
	margin-top:30px;
	margin-bottom:30px;
	left: 50%;
    position: relative;
	transform: translateX(-50%);
	select{
		left: 50%;
    	position: relative;
		transform: translateX(-50%);
	}*/
  width: 40%;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -ms-flex-align: start;
      align-items: flex-start;
}
