@import "node_modules/normalize.css/normalize.css";
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.recepies-list {
  width: 50%;
  display: block;
  float: left;
}
.photo-wrapper {
  height: 150px;
  width: 100%;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.photo-wrapper img {
  min-width: 100%;
  min-height: 100%;
}
.small-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 15px;
}
h2 {
  font-size: 20px;
}
.recepies-show {
  display: block;
  width: 100%;
  padding: 15px;
  background: #fafafa;
}
.amount {
  margin-top: 10px;
}
/*.recepies-list{
	border-right: 1px solid gray;
}*/
input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  padding: 0px 15px;
  display: block;
}
select {
  height: 30px;
  border-color: gray;
}
ul {
  margin: 0;
  padding-left: 0;
}
.ingredient-block {
  clear: both;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.ingredient-block input {
  float: left;
  width: 150px;
  margin-right: 10px;
}
.ingredient-block .count {
  width: 90px;
  margin-right: 10px;
}
.ingredient-block select {
  width: 50px;
  float: left;
  margin-right: 10px;
}
.ingredient-block .delete-button {
  float: left;
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  line-height: 20px;
  margin-top: 13px;
}
.ingredient-button {
  margin-bottom: 30px;
  position: relative;
  clear: both;
  display: block;
  border: 2px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  color: #feaa26;
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
}
.ingredient-button:after {
  display: block;
  content: "";
  width: 200px;
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 1px;
  background: gray;
}
body,
html {
  width: 100%;
}
.wrapper {
  display: block;
  width: 100%;
}
.list-wrap {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: start;
      align-items: flex-start;
  /* margin: -15px 0; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.mini-recepies {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  cursor: pointer;
  border: solid 1px #e6e6e6;
  box-shadow: 0 0 2px 1px #f2f2f2;
  padding: 15px;
  margin-bottom: 15px;
  background: white;
  width: 250px;
}
.mini-recepies img {
  width: 100%;
}
.mini-recepies p {
  color: black;
  font-size: 18px;
  margin: 0;
}
.mini-recepies .user {
  margin-top: 25px;
  color: gray;
  font-size: 10px;
  text-align: right;
}
.primary-button {
  display: block;
  border: 1px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  background-color: #feaa26;
  color: white;
  height: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 15px;
  cursor: pointer;
}
.invisible-button {
  display: block;
  border: 2px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  color: #feaa26;
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
}
.auth {
  height: 50px;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  line-height: 50px;
  background: #fafafa;
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.auth span {
  font-size: 14px;
}
.auth button {
  display: block;
  border: 2px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  color: #feaa26;
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
  margin-left: 20px;
}
.recipe {
  /*position: fixed;
	display: block;
	width:50%;
	height:400px;
	background: black;
	color:white;
	left:50%;
	top:50%;*/
  width: 100%;
  display: block;
}
.input-base {
  display: block;
  color: black;
  border: 1px solid gray;
  border-radius: 2px;
  margin-right: 10px;
  background-color: white;
}
.recipe ul {
  padding-left: 20px;
}
select {
  border-radius: 2px;
}
body form input,
body form textarea {
  display: block;
  color: black;
  border: 1px solid gray;
  border-radius: 2px;
  margin-right: 10px;
  background-color: white;
}
body form input[type=submit] {
  background-color: #feaa26;
  color: white;
  border-color: #feaa26;
}
body form button {
  display: block;
  color: black;
  border: 1px solid gray;
  border-radius: 2px;
  margin-right: 10px;
  background-color: white;
}
body form h2 {
  font-size: 18px;
}
.edit-button {
  display: block;
  border: 1px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  background-color: #feaa26;
  color: white;
  height: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 15px;
  cursor: pointer;
  margin-right: 15px;
  display: inline-block;
}
.delete-recipe {
  display: block;
  border: 2px solid #feaa26;
  border-radius: 2px;
  background-color: white;
  color: #feaa26;
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
  display: inline-block;
}
.recipe-title {
  color: #feaa26;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.recipe-user {
  font-size: 16px;
  color: gray;
  text-align: center;
}
.serv {
  display: inline-block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.serv select {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
